<ion-header>
    <ion-navbar color="header-color" *ngIf="currentTrack">
      <ion-title class="title1">{{currentTrack.musicname}}
        <p *ngIf="currentTrack.artist">{{currentTrack.artist}}</p>
      </ion-title>
      <ion-buttons end>
        <button ion-button color="light" clear (click)="prevTrack()">
        <img width="18px" src="assets/images/fast-forward.png">
        </button>
        <button *ngIf="bit == false" ion-button color="light" clear (click)="playTrack(currentTrack)">
        <img width="18px" src="assets/images/play.png">
        </button>
        <button *ngIf="bit == true" ion-button color="light" clear (click)="pausetyTrack(currentTrack)">
        <img width="12px" src="assets/images/pause.png">
        </button>
    
        <button ion-button color="light" clear (click)="nextTrack()">
        <img width="18px" src="assets/images/fast-forwardr.png">
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <div padding>


  <div (click)="productdetailsPage()" class="procard_view">
    <img src="assets/images/vacation.png">
  </div>
  
<ion-grid style="padding:0;">
  <ion-row>
    <ion-col col-5>
      <div class="product_title">
        <h4>MONTCE SWIM</h4>
        <h5 class="product_subtitle">Cabana Top</h5>
      </div>
    </ion-col>
    <ion-col col-7>
        <button style="margin-top:0;" color="dark" ion-button outline small>$43.00</button>
        <button style="margin-top:0;" ion-button color="dark" small clear icon-only>
          <ion-icon name="md-heart-outline"></ion-icon>
        </button>

        <button style="margin-top:0;" ion-button color="dark" small clear icon-only>
          <ion-icon style="padding:0;"><img width="20px" src="assets/images/hanger.png"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
</ion-grid>

  </div>


</ion-content>
