<ion-header>
  <ion-navbar color="header-color" *ngIf="currentTrack">
    <ion-title class="title1">{{currentTrack.musicname}}
      <p *ngIf="currentTrack.artist">{{currentTrack.artist}}</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" clear (click)="prevTrack()">
      <img width="18px" src="assets/images/fast-forward.png">
      </button>
      <button *ngIf="bit == false" ion-button color="light" clear (click)="playTrack(currentTrack)">
      <img width="18px" src="assets/images/play.png">
      </button>
      <button *ngIf="bit == true" ion-button color="light" clear (click)="pausetyTrack(currentTrack)">
      <img width="12px" src="assets/images/pause.png">
      </button>
  
      <button ion-button color="light" clear (click)="nextTrack()">
      <img width="18px" src="assets/images/fast-forwardr.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>

<ion-content>

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-list style="margin-bottom:0px;" class="list_cnt">
  <ion-item>
    
      <a>Done</a>
     <a (click)="searchPage()" item-end><ion-icon name="add"></ion-icon></a>
  </ion-item>
</ion-list>

<ion-list class="invite">
  <ion-item *ngFor="let friends of friendslist" (click)="chatPage(friends.id)">
    <ion-icon name="remove-circle" item-start></ion-icon>
    <ion-avatar item-start>
      <img *ngIf="friends.image != null" [src]="friends.image">
      <img *ngIf="friends.image == null" src="assets/images/noimage.jpg">
    </ion-avatar>
    <h3>{{friends.first_name}}</h3>
    <!-- <p>Send you a fitting room invitation</p> -->
    <ion-note class="time" item-end="" class="note note-ios">{{friends.time}}</ion-note>
      <!-- <div class="acpt">
        <button ion-button color="header-color" small>Accept</button>
        <button ion-button color="light" small>Decline</button>
      </div> -->
  </ion-item>
  

</ion-list>

</ion-content>
